.filter-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 0;
  .filterBy{
    padding: 10px;
    color: $site-common-white;
    background-color: $md-dark-color;
    font-size: 1.3rem;
    .option{
      font-size: 1.4rem;  
      // WHY I CANT DO ANY STYLES TO THIS MF
    }
  }
  .filter{
    display: flex;
    align-items: center;
    gap: 15px;
    .filterBtn{
      font-size: 1.3rem;
      border: none;
      padding: 10px;
      border-radius: 8px;
      min-width: 110px;
      cursor: pointer;
      color: $site-common-white;
      background-color: $md-dark-color;
      &:hover{
        background-color: lighten($md-dark-color, 20%);
      }
      &:active{
        background-color: darken($yellow-color, 10%);
      }
    }
  }
}