.search-container {
  width: 65%;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 1rem 0;
  p {
    font-size: 2rem;
    color: $site-common-white;
    font-weight: bold;

    span {
      color: $yellow-color;
    }
  }
}

.search-element {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  position: relative;

  h3 {
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: $site-common-white;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: $dark-color;
    color: $site-common-white;
    width: 350px;
  }

  .search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
    border-radius: 20px;

    .search-list-item {
      background-color: $light-dark-color;
      padding: 0.5rem;
      border-bottom: 1px solid $dark-color;
      width: calc(350px - 8px);
      color: $site-common-white;
      cursor: pointer;
      transition: background-color 200ms ease;

      &:hover {
        background-color: #1f1f1f;
      }

      display: flex;
      align-items: center;

      .search-item-thumbnail {
        img {
          width: 40px;
          margin-right: 1rem;
        }
      }

      .search-item-info {
        h3 {
          font-weight: 600;
          font-size: 1rem;
        }

        p {
          font-size: 0.8rem;
          margin-top: 0.5rem;
          font-weight: 600;
          opacity: 0.6;
        }
      }
    }
  }
}

.search-list::-webkit-scrollbar {
  width: 8px;
}

.search-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
  background-color: $yellow-color;
  outline: none;
  border-radius: 10px;
}

.hide-search-list {
  display: none;
}
.search-element {
  flex-direction: row;
  h3{
    margin-bottom: 0;
  }
}

