body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
a:visited {
  color: inherit;
}

a:hover {
  color: inherit; 
}

a:active {
  color: inherit; 
}