@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


$md-dark-color: #121212;
$dark-color: #000000;
$light-dark-color: #292929;
$yellow-color: #E50914;
