@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-top {
  background-color: #383f46;
}

.wrapper {
  min-height: 100vh;
  background-color: #202428;
}

.search-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 1rem 0;
}
.logo p {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.94);
  font-weight: bold;
}
.logo p span {
  color: #F5C518;
}

.search-element {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.search-element h3 {
  align-self: center;
  margin-right: 1rem;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.94);
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.search-element .form-control {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #202428;
  color: rgba(255, 255, 255, 0.94);
  width: 350px;
}
.search-element .search-list {
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 10;
  border-radius: 20px;
}
.search-element .search-list .search-list-item {
  background-color: #292929;
  padding: 0.5rem;
  border-bottom: 1px solid #202428;
  width: 342px;
  color: rgba(255, 255, 255, 0.94);
  cursor: pointer;
  transition: background-color 200ms ease;
  display: flex;
  align-items: center;
}
.search-element .search-list .search-list-item:hover {
  background-color: #1f1f1f;
}
.search-element .search-list .search-list-item .search-item-thumbnail img {
  width: 40px;
  margin-right: 1rem;
}
.search-element .search-list .search-list-item .search-item-info h3 {
  font-weight: 600;
  font-size: 1rem;
}
.search-element .search-list .search-list-item .search-item-info p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-weight: 600;
  opacity: 0.6;
}

.search-list::-webkit-scrollbar {
  width: 8px;
}

.search-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
  background-color: #F5C518;
  outline: none;
  border-radius: 10px;
}

.hide-search-list {
  display: none;
}

.search-element {
  flex-direction: row;
}
.search-element h3 {
  margin-bottom: 0;
}

.result-container {
  padding: 3rem 0;
}

.movie-details {
  display: flex;
}

.movie-poster {
  width: 50%;
}
.movie-poster img {
  max-width: 330px;
  margin: 0 auto;
  border: 4px solid #fff;
}

.movie-info {
  width: 50%;
  text-align: center;
  color: rgba(255, 255, 255, 0.94);
  padding-top: 3rem;
  position: relative;
}
.movie-info .addToList {
  background-color: #383f46;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #F5C518;
  padding: 0.6rem;
  font-size: 1.2rem;
  margin: 0.6rem auto;
  position: absolute;
  bottom: 0;
}
.movie-info .movie-title {
  font-size: 2rem;
  color: #F5C518;
}
.movie-info .movie-misc-info {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.movie-info .movie-misc-info .year {
  font-weight: 500;
}
.movie-info .movie-misc-info .rated {
  background-color: #F5C518;
  padding: 0.4rem;
  margin: 0 0.4rem;
  border-radius: 3px;
  font-weight: 600;
}
.movie-info .movie-misc-info .released {
  font-size: 0.9rem;
  opacity: 0.9;
}
.movie-info .writer {
  padding: 0.5rem;
  margin: 1rem 0;
}
.movie-info .genre {
  background-color: #292929;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 3px;
}
.movie-info .plot {
  max-width: 400px;
  margin: 1rem auto;
}
.movie-info .language {
  color: #F5C518;
  font-style: italic;
}
.movie-info .awards {
  font-weight: 300;
  font-size: 0.9rem;
}
.movie-info .awards i {
  color: #F5C518;
  margin: 1rem 0.7rem 0 0;
}

.movie-info {
  text-align: left;
  padding-top: 0;
}
.movie-info .movie-misc-info {
  justify-content: flex-start;
  padding-left: 0;
}
.movie-info .plot {
  margin-left: 0;
}
.movie-info .writer {
  padding-left: 0;
  margin-left: 0;
}

.navBar ul {
  display: flex;
  gap: 20px;
}
.navBar ul li a {
  border-radius: 8px;
  background-color: #202428;
  padding: 0.7rem;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.94);
}/*# sourceMappingURL=main.css.map */