@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

.container {
  width: 65%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-top {
  background-color: #383f46;
}

.wrapper {
  min-height: 100vh;
  background-color: #202428;
}

.search-container {
  width: 65%;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 1rem 0;
}
.logo p {
  font-size: 2rem;
  color: #DDDDDD;
  font-weight: bold;
}
.logo p span {
  color: #F5C518;
}

.search-element {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.search-element h3 {
  align-self: center;
  margin-right: 1rem;
  font-size: 2rem;
  color: #DDDDDD;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.search-element .form-control {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #202428;
  color: #DDDDDD;
  width: 350px;
}
.search-element .search-list {
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 10;
  border-radius: 20px;
}
.search-element .search-list .search-list-item {
  background-color: #292929;
  padding: 0.5rem;
  border-bottom: 1px solid #202428;
  width: 342px;
  color: #DDDDDD;
  cursor: pointer;
  transition: background-color 200ms ease;
  display: flex;
  align-items: center;
}
.search-element .search-list .search-list-item:hover {
  background-color: #1f1f1f;
}
.search-element .search-list .search-list-item .search-item-thumbnail img {
  width: 40px;
  margin-right: 1rem;
}
.search-element .search-list .search-list-item .search-item-info h3 {
  font-weight: 600;
  font-size: 1rem;
}
.search-element .search-list .search-list-item .search-item-info p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-weight: 600;
  opacity: 0.6;
}

.search-list::-webkit-scrollbar {
  width: 8px;
}

.search-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
  background-color: #F5C518;
  outline: none;
  border-radius: 10px;
}

.hide-search-list {
  display: none;
}

.search-element {
  flex-direction: row;
}
.search-element h3 {
  margin-bottom: 0;
}

.result-container {
  padding: 3rem 0;
}

.movie-details {
  display: flex;
}

.movie-poster {
  width: 50%;
}
.movie-poster img {
  max-width: 330px;
  margin: 0 auto;
  border: 4px solid #fff;
}

.movie-info {
  width: 50%;
  text-align: center;
  color: #DDDDDD;
  padding-top: 3rem;
  position: relative;
}
.movie-info .addToList {
  background-color: #383f46;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #F5C518;
  padding: 0.6rem;
  font-size: 1.2rem;
  margin: 0.6rem auto;
  position: absolute;
  bottom: 0;
}
.movie-info .movie-title {
  font-size: 2rem;
  color: #F5C518;
}
.movie-info .movie-misc-info {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.movie-info .movie-misc-info .year {
  font-weight: 500;
}
.movie-info .movie-misc-info .rated {
  background-color: #F5C518;
  padding: 0.4rem;
  margin: 0 0.4rem;
  border-radius: 3px;
  font-weight: 600;
}
.movie-info .movie-misc-info .released {
  font-size: 0.9rem;
  opacity: 0.9;
}
.movie-info .writer {
  padding: 0.5rem;
  margin: 1rem 0;
}
.movie-info .genre {
  background-color: #292929;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 3px;
}
.movie-info .plot {
  max-width: 400px;
  margin: 1rem auto;
}
.movie-info .language {
  color: #F5C518;
  font-style: italic;
}
.movie-info .awards {
  font-weight: 300;
  font-size: 0.9rem;
}
.movie-info .awards i {
  color: #F5C518;
  margin: 1rem 0.7rem 0 0;
}

.movie-info {
  text-align: left;
  padding-top: 0;
}
.movie-info .movie-misc-info {
  justify-content: flex-start;
  padding-left: 0;
}
.movie-info .plot {
  margin-left: 0;
}
.movie-info .writer {
  padding-left: 0;
  margin-left: 0;
}

.navBar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navBar ul li a {
  border-radius: 8px;
  background-color: #202428;
  padding: 0.7rem;
  font-size: 1.3rem;
  color: #DDDDDD;
}

.watch-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0 250px;
}
.watch-list-container .watch-list-item {
  display: flex;
  flex-direction: column;
  width: calc(20% - 16px);
}
.watch-list-container .watch-list-item p {
  margin: 10px 0;
  font-size: 1.1rem;
  color: #DDDDDD;
}
.watch-list-container .watch-list-item .movie-item-img {
  position: relative;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.watch-list-container .watch-list-item .movie-item-img .imdb-img {
  background-color: white;
  position: absolute;
  top: 0;
  left: 10px;
  border-radius: 5px;
  color: #202428;
  padding: 4px 5px;
}
.watch-list-container .watch-list-item .movie-item-img .imdb-img i {
  padding-right: 3px;
  color: #FFD43B;
}
.watch-list-container .watch-list-item .movie-item-img:hover .movie-info {
  display: flex;
}
.watch-list-container .watch-list-item .movie-item-img .movie-info {
  display: none;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
  width: 350px;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  z-index: 1001;
}
.watch-list-container .watch-list-item .movie-item-img .movie-info .img-title {
  font-size: 1.4rem;
}
.watch-list-container .watch-list-item .movie-item-img .movie-info p {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  color: #b7b7b7;
}
.watch-list-container .watch-list-item .movie-item-img .movie-info i {
  color: #FFD43B;
}
.watch-list-container .watch-list-item .movie-item-img .movieTypeBtn {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch-list-container .watch-list-item .movie-item-img .movieTypeBtn i {
  font-size: 1.65rem;
}
.watch-list-container .watch-list-item .movie-item-img .movieTypeBtn .changeType {
  position: absolute;
  top: 40px;
  right: 0;
  flex-direction: column;
}
.watch-list-container .watch-list-item .movie-item-img .movieTypeBtn .changeType .type {
  text-align: left;
  background-color: white;
  padding: 15px;
  font-size: 1.05rem;
  width: 160px;
  transition: 0.1s;
}
.watch-list-container .watch-list-item .movie-item-img .movieTypeBtn .changeType .type:hover {
  background-color: #DDDDDD;
}
.watch-list-container .watch-list-item .movie-item-img img {
  height: 340px !important;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: filter 0.3s ease;
}
.watch-list-container .watch-list-item .movie-item-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: opacity 0.3s ease;
}
.watch-list-container .watch-list-item .movie-item-img:hover::after {
  opacity: 1;
}

.remove {
  color: red;
}

.changeType {
  display: none;
}

.changeType.visible {
  display: flex;
}

.lighter {
  color: white;
}

.cover {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 900;
}

.profileBtn {
  display: flex;
  width: 55px;
  height: 55px;
  border: 5px solid #202428;
  background-image: url("https://www.gravatar.com/avatar/?d=mp&s=55");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 0;
}
.filter-container .filterBy {
  padding: 10px;
  color: #DDDDDD;
  background-color: #383f46;
  font-size: 1.3rem;
}
.filter-container .filterBy .option {
  font-size: 1.4rem;
}
.filter-container .filter {
  display: flex;
  align-items: center;
  gap: 15px;
}
.filter-container .filter .filterBtn {
  font-size: 1.3rem;
  border: none;
  padding: 10px;
  border-radius: 8px;
  min-width: 110px;
  cursor: pointer;
  color: #DDDDDD;
  background-color: #383f46;
}
.filter-container .filter .filterBtn:hover {
  background-color: #65727f;
}
.filter-container .filter .filterBtn:active {
  background-color: #d1a609;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}
.sign-in-container .sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  border-radius: 20px;
  background-color: #383f46;
}
.sign-in-container .sign-in .sign-top {
  color: #DDDDDD;
  margin: 50px 0 0;
  font-size: 2.6rem;
  text-align: center;
}
.sign-in-container .sign-in .sign-inputs {
  margin: 80px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sign-in-container .sign-in .sign-inputs input {
  border-radius: 10px;
  height: 60px;
  outline: none;
  color: #DDDDDD;
  padding: 0 20px;
  font-size: 1.6rem;
  background-color: #202428;
  border: none;
  width: 90%;
}
.sign-in-container .sign-in .logSign {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
}
.sign-in-container .sign-in .logSign button {
  width: 150px;
  height: 60px;
  background-color: #202428;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #DDDDDD;
}

.profile-section {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  color: #DDDDDD;
}
.profile-section .profile-summary {
  margin: 0 0 25px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-section .profile-summary .profile-summary-left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.profile-section .profile-summary .profile-summary-left .profile-pic-container img {
  display: flex;
  width: 150px;
  height: 150px;
  border: 3px solid #383f46;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}
.profile-section .profile-summary .profile-summary-left .username {
  font-size: 2rem;
  font-weight: 500;
}
.profile-section .profile-summary .profile-summary-left button {
  background-color: #383f46;
  color: #DDDDDD;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 8px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.profile-section .profile-summary .profile-summary-left button #pen {
  font-size: 14px;
  margin-left: 5px;
}
.profile-section .profile-summary .profile-summary-left button:hover {
  color: #F5C518;
}
.profile-section .profile-summary .profile-summary-right {
  display: flex;
}
.profile-section .profile-summary .profile-summary-right .profile-stats {
  padding: 10px;
}
.profile-section .profile-summary .profile-summary-right .profile-stats a {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-section .profile-summary .profile-summary-right .profile-stats a .value {
  font-size: 1.8rem;
}
.profile-section .profile-summary .profile-summary-right .profile-stats a .definition {
  font-size: 1.2rem;
  font-weight: 300;
}
.profile-section .profile-nav {
  padding: 0 20px;
  border: 2px solid #383f46;
  border-radius: 10px;
}
.profile-section .profile-nav ul {
  display: flex;
}
.profile-section .profile-nav ul li {
  font-size: 22px;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.profile-section .profile-nav ul li:hover {
  color: #F5C518;
}

.border-left {
  border-left: 1px solid #383f46;
}/*# sourceMappingURL=main.css.map */