.filter-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0;
  flex-wrap: wrap;
  gap: 10px;
  .filterBy{
    padding: 5px;
    color: $site-common-white;
    background-color: $md-dark-color;
    font-size: 1.2rem;
    .option{
      font-size: 1rem;  
    }
  }
  .filter{
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
    .filterBtn{
      font-size: 1rem;
      border: none;
      padding: 8px;
      border-radius: 6px;
      min-width: 90px;
      cursor: pointer;
      color: $site-common-white;
      background-color: $md-dark-color;
      &:hover{
        background-color: lighten($md-dark-color, 20%);
      }
      &:active{
        background-color: darken($yellow-color, 10%);
      }
    }
  }
}