.navBar{
  ul{
    display: flex;
    flex-direction: column;
    li{
      display: flex;
      a{
        margin: 4px 0;
        padding: 12px;
        border-radius: 8px;
        font-size: 1.1rem;
        align-items: center;
        color: $site-common-white;
        display: flex;
        gap: 9px;
        i{
          font-size: 1.3rem;
          width: 30px;
        }
      }
    }
  }
}