.navBar{
  ul{
    display: flex;
    align-items: center;
    gap: 20px;
    li{
      a{
        border-radius: 8px;
        background-color: $dark-color;
        padding: 0.6rem;
        font-size: 1.1rem;
        color: $site-common-white;
      }
    }
  }
}